body {
    background-image: url(walls/Yasuo.png);
    background-size: cover;
    background-position: 15% center;
    background-attachment: fixed;
}

.background {
    min-height: 100vh;
    height: auto;
}

.background::before,
.background::after {
    display: none;
}

.form {
    position: relative;
    max-width: 500px;
    width: 90%;
    margin-top: 122px;
    padding: 0 40px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    background: var(--white);
    transition: .3s;
}

.form h2 {
    color: var(--black);
    margin: 70px 0 40px;
    line-height: 1em;
    font-weight: 500;
    padding-left: 10px;
    border-left: 5px solid #009dff;
    transition: .3s;
}

.form .inputBox {
    position: relative;
    height: 46px;
    margin-bottom: 35px;
}

.form .inputBox:last-child {
    margin-bottom: 0;
}

.form .inputBox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--black);
    background: transparent;
    padding: 10px;
    outline: none;
    font-size: 16px;
    color: var(--black);
    font-weight: 300;
    transition: .3s;
}

.form .inputBox span {
    position: absolute;
    top: 1px;
    left: 1px;
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    color: var(--black);
    font-weight: 300;
    transition: .3s;
    pointer-events: none;
}

.form .inputBox input:focus ~ span,
.form .inputBox input:valid ~ span {
    transform: translate(-10px, -32px);
    font-size: 12px;
}

.form .inputBox .btnsBox {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: var(--black);
    transition: .3s;
    cursor: url(hand.png), auto;
}

.btnsBox ion-icon:nth-child(2),
.btnsBox.active ion-icon:nth-child(1) {
    display: none;
}

.btnsBox.active ion-icon:nth-child(2) {
    display: block;
}

.form .inputBox input[type="submit"] {
    background: linear-gradient(45deg, #00c6ff, #009dff);
    color: #fff;
    border: none;
    max-width: 120px;
    cursor: url(hand.png), auto;
}

.form .inputBox input[type="submit"]:focus {
    background: linear-gradient(45deg, #00baff, #0093ff);
}

.form .registerBox {
    margin-bottom: 60px;
    color: var(--black);
    transition: .3s;
}

.form .registerBox p a{
    color: #009dff;
}

.form .profile-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 50%;
    background: url(profile.png);
    background-size: cover;
    width: 150px;
    height: 150px;
}

.form .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form .profile {
    margin-bottom: 40px;
    line-height: 32px;
    color: var(--black);
    transition: .3s;
}

.footer-background {
    background: var(--filter-footer);
    transition: .3s;
}

.footer {
    margin-top: 0;
    padding: 50px 100px 30px;
    color: #fff;
    transition: .3s;
}

.copyrightText,
.madeBy,
.madeBy a,
.sci li a {
    color: #fff;
}

@media (max-width: 1110px) {
    .footer {
        padding: 50px 20px 30px;
    }
}