@font-face {
    font-family: Poppins;
    src: url(Poppins-Regular.ttf);
}

@font-face {
    font-family: Kaushan Script;
    src: url(KaushanScript-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    cursor: url(default.png), auto;
}

a, a p, ion-icon {
    cursor: url(hand.png), auto;
}

:root {
    --black: #333;
    --black-hover: rgb(51, 51, 51, 0.2);
    --white: #fff;
    --white-hover: rgb(255, 255, 255, 0.2);
    --filter: radial-gradient(circle, rgba(0, 0, 0, 0.2), transparent 30%);
    --filter-footer: rgba(0, 0, 0, 0);
}

.dark {
    --black: #fff;
    --black-hover: rgb(255, 255, 255, 0.2);
    --white: #333;
    --white-hover: rgb(51, 51, 51, 0.2);
    --filter: rgba(0, 0, 0, 0.5);
    --filter-footer: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white);
    box-shadow: inset 0 0 5px var(--scrollhover);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #00c6ff, #009dff);
    border-radius: 2px;
    box-shadow: 0 0 5px var(--scrollhover);
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    transition: .3s;
}

header.down {
    background: var(--white);
    padding: 10px 100px;
}

header.down .rightside .btns ion-icon {
    font-size: 1.5em;
    color: var(--black);
}
header.down .rightside .menutoggle span {
    background: var(--black);
}

header.down .myAccount,
header.down .logo,
header.down li a {
    color: var(--black);
}

header.down li.active a,
header.down li.active a:hover {
    color: var(--white);
    background: var(--black);
}

header.down li a:hover {
    background: var(--black-hover);
}

header .left {
    display: flex;
    align-items: center;
    z-index: 10000;
}

header .myAccount {
    position: absolute;
    top: 45px;
    left: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: 2em;
    color: #fff;
    transition: color 1s, top .3s;
}

header.down .myAccount {
    position: absolute;
    top: 15px;
    left: 20px;
}

header .logo {
    position: relative;
    display: inline-flex;
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    transition: 1s;
}

header .logo span {
    background-image: linear-gradient(45deg, #00c6ff, #009dff);
    -webkit-background-clip: text;
    font-family: 'Kaushan Script', cursive;
    color: transparent;
}

.right {
    display: flex;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
}

header li a {
    position: relative;
    margin-left: 10px;
    color: #fff;
    padding: 6px 15px;
    border-radius: 40px;
    transition: .3s;
}

header li.active a,
header li.active a:hover {
    color: var(--black);
    background: var(--white);
}

header li a:hover {
    background: var(--white-hover);
}

.rightside {
    display: flex;
}

.btns {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: url(hand.png), auto;
    margin-left: 10px;
    z-index: 10000;
}

.btns ion-icon {
    font-size: 1.5em;
    color: #fff;
    transition: .3s;
}

.btns ion-icon:nth-child(2),
.btns.active ion-icon:nth-child(1),
.menutoggle {
    display: none;
}

.btns.active ion-icon:nth-child(2) {
    display: block;
}

.background {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--filter);
    transition: .3s;
}

.background::before,
.background::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 100px;
    background: var(--white);
    clip-path: polygon(200px 0, 100% 0, 100% 100%, 0 100%);
    transition: .3s;
}

.background::before {
    left: 0;
    transform: rotateY(180deg);
}

.background::after {
    right: 0;
}

.title {
    font-size: 2.5em;
    font-style: italic;
    color: #fff;
    text-align: center;
    user-select: none;
}

.scrolldown {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -80px) rotate(45deg);
    z-index: 100;
}

.scrolldown span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1.5s linear infinite;
}

.scrolldown span:nth-child(1) {
    transform: translate(-15px, -15px);
    animation-delay: -0.4s;
}

.scrolldown span:nth-child(2) {
    transform: translate(0, 0);
    animation-delay: -0.2s;
}

.scrolldown span:nth-child(3) {
    transform: translate(15px, 15px);
    animation-delay: 0s;
}

@keyframes animate {
    0% {
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    
    25% {
        top: 0;
        left: 0;
        opacity: 1;
    }
    
    50%, 100% {
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: var(--white);
    padding: 100px 100px 30px;
    transition: .3s;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
}

.copyrightText {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--black);
    margin-right: 50px;
    transition: .3s;
}

.madeBy,
.madeBy a {
    display: flex;
    align-items: center;
    color: var(--black);
    margin-right: 50px;
    transition: .3s;
}

.madeBy a {
    margin-left: 10px;
    margin-right: 10px;
}

.sci li a {
    color: var(--black);
    font-size: 1.75em;
    transition: .3s;
    display: inline-block;
}

.sci li a:hover {
    transform: translateX(-5px);
}

@media (max-width: 1110px) {
    header {
        padding: 40px 20px;
    }
    
    header.down {
        padding: 10px 20px;
    }
    
    header .myAccount {
        position: static;
    }
    
    header.down .myAccount {
        position: static;
    }
    
    .container {
        padding: 100px 20px 30px;
    }
}

@media (max-width: 858px) {
    .menutoggle {
        display: flex;
    }
    
    .menutoggle.active span {
        background: var(--black);
    }
    .daynight.activo ion-icon,
    .logo.active,
    .myAccount.active ion-icon {
        color: var(--black);
        transition: color 1s;
    }
    
    .menutoggle span {
        position: absolute;
        width: 20px;
        height: 1px;
        cursor: url(hand.png), auto;
        background: #fff;
        border-radius: 1px;
        transition: .3s;
    }
    
    .menutoggle span:nth-child(1) {
        transform: translateY(-5px);
    }
    .menutoggle.active span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
        transition-delay: .125s;
    }
    
    .menutoggle span:nth-child(2) {
        transform: translateY(5px);
    }
    .menutoggle.active span:nth-child(2) {
        transform: translateY(0) rotate(315deg);
        transition-delay: .25s;
    }
    
    .menutoggle.active span:nth-child(3) {
        transform: translateX(40px);
    }
    
    header nav {
        position: fixed;
        top: 0;
        left: -110%;
        width: 100%;
        height: 100%;
        background: var(--white);
        z-index: 100;
        transition: .3s;
        box-shadow: 0 0 50px #4448;
        letter-spacing: 2px;
    }
    
    header nav.active {
        left: 0;
    }
    
    header nav ul {
        display: block;
        text-align: center;
    }
    
    header nav li a {
        display: inline-flex;
        margin: 5px 0;
        font-size: 1.25em;
        color: var(--black);
        padding: 6px 15px;
        border-radius: 40px;
        transition: .3s;
    }
    
    header li.active a,
    header li.active a:hover {
        color: var(--white);
        background: var(--black);
    }
    
    header li a:hover {
        background: var(--black-hover);
    }
}
